{% extends "layouts/layout.html" %}

{% block content%}
{{ request.form["researchingbyself"] }} {{ request.form["quietzone"] }} {{ request.form["windowseat"]}} {{ request.form["accessrequirements"]}}
<article>
    <div class="tna-page__header">
        <h1>Are you researching by yourself?</h1>
    </div>
    <div class="tna-page__entry">
        <form action="" method="POST">
            <div>Are you researching by yourself?</div>
            <input type="radio" name="researchingbyself" value="yes" id="researchingbyself_yes" {{ "checked" if request.form["researchingbyself"] == "yes" else "" }}><label for="researchingbyself_yes">Yes</label>
            <input type="radio" name="researchingbyself" value="no" id="researchingbyself_no" {{ "checked" if request.form["researchingbyself"] == "no" else "" }}><label for="researchingbyself_no">No</label>
            
            {% if id(researchingbyself_yes) == "checked" %}
            <div>Would you prefer to be in the Quiet Zone of the DRR?</div>
            <input type="radio" name="quietzone" value="yes" id="quietzone_yes" {{ "checked" if request.form["quietzone"] == "yes" else "" }}><label for="quietzone_yes">Yes</label>
            <input type="radio" name="quietzone" value="no" id="quietzone_no" {{ "checked" if request.form["quietzone"] == "no" else "" }}><label for="quietzone_no">No</label>
            {% endif %}

            <div>Would you prefer to be near the window?</div>
            <input type="radio" name="windowseat" value="yes" id="windowseat_yes" {{ "checked" if request.form["windowseat"] == "yes" else "" }}><label for="windowseat_yes">Yes</label>
            <input type="radio" name="windowseat" value="no" id="windowseat_no" {{ "checked" if request.form["windowseat"] == "no" else "" }}><label for="windowseat_no">No</label>
            
            <div>Do you have any special requirements?</div>
            <input type="radio" name="accessrequirements" value="no" id="accessrequirements_no" {{ "checked" if request.form["accessrequirements"] == "no" else "" }}><label for="accessrequirements_no">No</label>
            <input type="radio" name="accessrequirements" value="cantbend" id="accessrequirements_cantbend" {{ "checked" if request.form["accessrequirements"] == "cantbend" else "" }}><label for="accessrequirements_cantbend">I have problems bending down</label>
            <input type="radio" name="accessrequirements" value="wheelchair" id="accessrequirements_wheelchair" {{ "checked" if request.form["accessrequirements"] == "wheelchair" else "" }}><label for="accessrequirements_wheelchair">I require wheelchair access or prefer to have a mid-height locker</label>
            
            <input type="submit">
        </form>
    </div>
</article>
{% endblock %}