<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="static/images/favicon.png">

    <title>Seating application</title>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Mono:400,700&display=swap"
          rel="stylesheet">

    <!-- TNA Grid core CSS -->
    <link rel="stylesheet" href="/static/styles/lib/navi.0.0.4.min.css">
    <link rel="stylesheet" href="/static/styles/lib/toolkit.css">

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="static/images/favicon.png">
    <link rel="icon" type="image/vnd.microsoft.icon" href="static/images/favicon.png">
</head>

<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="static/images/tna_logo.jpeg" class="img-fluid logo">
            </div>
            <div class="col-md-6">
                <nav class="theme-nav">
                    <ul>
                        <li class="current">Home</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
    
<div class="tna-page">
  <div class="container">
    <div class="row">
      <main class="col-xs-12 col-sm-12" role="main">
        <article>
          <div class="tna-page__header">
            <h1>Are you researching by yourself?</h1>
          </div>
          <div class="tna-page__entry">
            <ul class="tna-ul--no-bullet">
                <li><a href="{{ url_for('help') }}" class="tna-button tna-button--primary" role="button">Yes</a></li>
                <li><a href="{{ url_for('seatselect') }}" class="tna-button tna-button--primary" role="button">No</a></li>
            </ul>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>
    
</body>
</html>