{% extends "layouts/layout.html" %}

{% block content%}
<article>
    <div class="tna-page__header">
        <h1>Before ordering documents, you need to reserve a seat in the Reading Room.</h1>
    </div>
    <div class="tna-page__entry">
        <p>Only <b>one seat reservation per reader is permitted.</b></p>
        <ul class="tna-ul--no-bullet options">
            <li><a href="{{ url_for('termsandconditions') }}" class="tna-button tna-button--primary">Reserve a seat in the Reading Room</a></li>
        </ul>
    </div>
</article>
{% endblock %}